.flex-container {
  display: flex;
  width: 599px;
  flex-direction: column;
  align-items: flex-start;
  gap: 35px;
  padding: 15px 25px;
  border-radius: 5px;
  background: var(--primary-color, #23A6F0);
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1200px;
  margin-top: 28px;
 
}

body {
  margin: 0;
}
.logo img {
  width: 170px;
}

.background {
  background-image: url('./img//background.png');
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navigation {
  margin-left: -220px;
}
.navigation ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.navigation a {
  color: var(--light-text-color, #FFF);
  text-align: center;

  /* link */
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.2px;
}
.login button {
  background: none;
  padding: 0;
  border: 0;
  color: var(--light-text-color, #FFF);
  text-align: right;
  
  /* btn-text */
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 157.143% */
  letter-spacing: 0.2px;
}
.Become_a_member {
background: var(--primary-color, #23A6F0); 
padding: 0;
border: 0;
color: var(--light-text-color, #FFF);
display: flex;
padding: 15px 40px;
gap: 15px;
border-radius: 5px;
justify-content: center;
align-items: center;
/* btn-text */
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 22px; /* 157.143% */
letter-spacing: 0.2px;
border-radius: 5px; 
background: var(--primary-color, #23A6F0); 
color: #fff;
}


.Became_img {
width: 12px; height: 10px;
}
.button {
  display: flex;
  flex-direction: row;
      gap: 56px;
      align-items: center;    
      
}

.navigation ul li {
  margin-left: 30px;
}

p, h1, h2, h3, h4, h5, h6 {
margin: 0;
}
.container {
display: flex;
width: 1200px;
padding: 170px 0px;
flex-direction: column;
align-items: flex-start;
gap: 40px;
}

.container1 {
left: 195px;
padding: 234px 0px 160px 0px;
gap: 10px;
background: #252B42;
text-align: center;
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: center;
align-items: center;
}
.sidebar {
  flex: 1; /* The sidebar will take 1/3 of the available space */
  background-color: lightgray;
  padding: 10px;
}

.main-content {
  flex: 2; /* The main content will take 2/3 of the available space */
  background-color: lightblue;
  padding: 10px;
}

.h1 {  color: var(--light-text-color, #FFF);
font-family: Montserrat;
font-size: 57px;
font-style: normal;
font-weight: 700;
line-height: 77px; /* 137.931% */
letter-spacing: -3.8px; }
.Welcome {
color: var(--primary-color, #23A6F0);
  
/* h5 */
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 25px; /* 150% */
letter-spacing: 0.1px;
}
.title{ 
color: var(--light-text-color, #FFF);
text-align: center;
font-family: Montserrat;
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: 70px; /* 137.931% */
letter-spacing: 5.2px
}
.text{
color: var(--light-text-color, #FFF);
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 25px; /* 150% */
letter-spacing: 1.8px;
}
.Join_us {
color: var(--light-text-color, #FFF);
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 34px; /* 150% */
letter-spacing: 0.2px;
border-radius: 5px;
background: var(--primary-color, #23A6F0);
padding-top: 10px;
padding-left: 51px;
padding-right: 33px;
padding-bottom: 18px;
border: 0;
}
.p, h6 {
  color: var(--light-text-color, #FFF);
  font-family: Montserrat;
  font-size: 58px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px; /* 137.931% */
  letter-spacing: 0.1px; 
  }
  .Practice_Advice{
    padding: 77px 0px 0px 0px;
    color: var(--primary-color, #23A6F0);
    gap: 10px;
      }
.p, h2{

font-family: Montserrat;
font-size: 40px;
font-weight: 700;
line-height: 50px;
letter-spacing: 0.20000000298023224px;
text-align: center;
gap: 10px;
margin: -6px;
}

.p, text {
font-family: Montserrat;
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0.20000000298023224px;
text-align: center;
gap: 10px;
}
.row {
display: flex;
padding: 35px 40px;
flex-direction: row;
align-items: center;
align-self: stretch;
justify-content: center;
gap: 30px;
}
.p1{
color: var(--text-color, #252B42);
text-align: center;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 150% */
letter-spacing: 0.1px;
}
.Training_course{
display: flex;
padding: 50px 40px;
flex-direction: column;
align-items: center;
gap: 20px;
align-self: stretch;
background: var(--light-background-color, #FFF);
width: 290px;
/* accentued-drop-shadow */
box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);

}
.Training_row {
flex-direction: row;
display: flex;
justify-content: center;
align-items: flex-start;
gap: 40px;

padding: 76px 0px;
align-items: center;

}
.cool-icon-23 {
display: flex;
padding: 26px 23px;
flex-direction: column;
align-items: flex-start;
gap: 10px;
border-radius: 10px;
background: var(--danger-color, #E74040);
}
.Line {
width: 50px;
height: 2px;
background: var(--danger-color, #E74040);
} 
.Text1 { 
color: var(--second-text-color, #737373);
text-align: center;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
letter-spacing: 0.2px;
width: 136px;
}
.Training_title {
  color: var(--text-color, #252B42);
text-align: center;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 16px; /* 150% */
letter-spacing: 0.1px;
margin-top: 8px;
}

.Layout1_2 {
  display: flex;
width: 1440px;
padding: 0px 195px;
justify-content: center;
align-items: center;
background: var(--dark-background-color, #252B42);

}
.container2 {
  display: flex;
  width: 1050px;
  padding: 160px 0px;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  background-color: #252B42;
}
.row_3{
  display: flex;
  align-items: center;
  gap: 30px;
}
.Line1{
width: 94px;
height: 7px;
background: var(--danger-color, #E74040);
margin: 0;
}
.Text2{
  color: var(--light-text-color, #FFF);
font-family: Montserrat;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 50px; /* 125% */
letter-spacing: 0.2px;
}
.Text3{
color: var(--light-text-color, #FFF);
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
letter-spacing: 0.2px;
}
.Learn.img{
width: 9px;
height: 16px;
color: var(--primary-text-color, #23A6F0);
}
.Learn_more{ 
color: var(--primary-text-color, #23A6F0);

/* link */
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 171.429% */
letter-spacing: 0.2px;
background-color: #252B42;
}
.col_5 {
display: flex;
width: 507px;
flex-direction: column;
align-items: flex-start;
gap: 35px;
}
.col_6{
display: flex;
align-items: flex-start;
gap: 30px;
}
.tumb_concept_18{
width: 508px;
height: 570px;
padding-right: 423px;
    padding-top: 129px;
}

.man-img{
 
    display: flex;
    width: 508px;
    height: 570px;
    justify-content: center;
    align-items: center;
    position: relative;
    
}
.background_img{
  position: absolute;
  justify-content: center;
   align-items: center;
}
.img10-img{
  position: absolute;
  justify-content: center;
   align-items: center;
   left: 350px;
   top: 45px;
}
.img12-img{
  position: absolute;
   justify-content: center;
    align-items: center;
   left: 80px;
   top: 322px;
  }
.man-img-block{
รง
  
    
}
.Layout1_3 {
  display: flex;
width: 1440px;
padding: 0px 0 24px 0;
justify-content: center;
align-items: center;
background: var(--dark-background-color, #252B42);
}
.container3{
  display: flex;
  width: 1050px;
  padding: 160px 0px;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  flex-shrink: 0;
}
.row_4{
  display: flex;
  width: 691px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}


.title1{
  color: var(--light-text-color, #FFF);
  text-align: center;
  
  /* h2 */
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px; /* 125% */
  letter-spacing: 0.2px;
}
.Practice_Advice1{
  color: var(--primary-text-color, #23A6F0);
text-align: center;

/* h6 */
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 171.429% */
letter-spacing: 0.2px;
    }
.text1{
  color: var(--light-text-color, #FFF);
text-align: center;

/* paragraph */
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
letter-spacing: 0.2px;
}
.row5{
  display: flex;
justify-content: center;
align-items: flex-start;
flex-direction: row;
gap: 30px;
}
.carousel {
  display: flex;
  width: 710px;
  align-items: flex-start;
  gap: 15px;
  flex-direction: row;
}

.fixed_height {
height: 300px;
align-self: stretch;

}

.product-cover-177 {
  width: 330px;
height: 300px;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;
position: relative; 
}
.product-cover-176 {
  width: 330px;
height: 300px;
flex-shrink: 0;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.product-card-icon-item {
display: flex;
width: 40px;
height: 40px;
padding: 10px;
justify-content: center;
align-items: center;
border-radius: 44.786px;
background: var(--light-background-color, #FFF);
}
.product-cover-175 {
width: 330px;
height: 300px;
flex-shrink: 0;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.Product_Card{
display: flex;
flex-direction: column;
align-items: flex-start;
max-width: 330px;
}
.product-card-icons{
  flex-direction: row;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  position: absolute;

top: 211px;
left: 66px;
}
.product-card-img{
  position: relative;
}
 
.frame4 {
  display: flex;
  padding: 25px 25px 35px 25px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  background-color: #FFF;
}
.Text4{
  color: var(--primary-text-color, #23A6F0);

/* link */
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 171.429% */
letter-spacing: 0.2px;
}
.Text5{
  width: 131px;
  color: var(--text-color, #252B42);
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 150% */
letter-spacing: 0.1px;
}
.Text6{
  color: var(--second-text-color, #737373);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.2px;
}




    .Container6 {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 80px; /* Gap between rows */
  background: var(--dark-background-color, #252B42);
  }
   .Join {
    color: var(--light-text-color, #FFF);
text-align: center;

/* h2 */
font-family: Montserrat;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 50px; /* 125% */
letter-spacing: 0.2px;
    color: var(--light-text-color, #FFF);
text-align: center;

/* h2 */
font-family: Montserrat;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 50px; /* 125% */
letter-spacing: 0.2px;
   }

   
   .Main_content6 {
    display: flex;
    width: 692px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
   }
   
   
   .search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #E6E6E6;
    background: #F9F9F9;
    width: 688px;
    height: 58px; /* Adjust the height as needed */
    margin: 0 auto;
    border-radius: 30px; /* Larger border-radius for ticket-like shape */
}
.search-input {
display: flex;
width: 688px;
padding: 15px 591px 15px 20px;
align-items: center;
color: var(--second-text-color, #737373);
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 28px;
letter-spacing: 0.2px;
position: relative;
flex: 1;
border: none;
outline: none;
border-radius: 30px 0 0 30px; 
}
.input-group-append {
  display: flex;
  width: 117px;
  height: 58px;
  justify-content: center;
  align-items: center;
}
.btn {
  display: flex;
  width: 117px;
  height: 58px;
  padding: 15px 22.5px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 0px 5px 5px 0px;
  border: 1px solid #E6E6E6;
  background: var(--primary-color, #23A6F0);
  color: #fff;
  cursor: pointer;
}
   .Main_content7{
    display: flex;
width: 688px;
flex-direction: column;
align-items: center;
   }
   .row6{
      display: flex;
      width: 688px; /* Set the width to match the .search-container */
      justify-content: center;
  }
   .row7 {
    display: flex;
    width: 688px; /* Set the width to match the .search-container */
    justify-content: center;
}
.Footer{
  display: flex;
width: 1440px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
background: #FAFAFA;
background: var(--dark-background-color, #252B42);
}

.container7{
  display: flex;
  height: 338px;
  padding: 0px 195px;
  justify-content: center;
  align-items: center;
background: var(--dark-background-color, #252B42);
}
.row8{
  display: flex;
  width: 1046px;
  align-items: flex-start;
  gap: 30px;
}
.h7{
  color: var(--light-text-color, #FFF);

  /* h3 */
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
  letter-spacing: 0.1px;
  gap: 25px;
}
.P7{
  color: var(--light-text-color, #FFF);

/* paragraph */
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
letter-spacing: 0.2px;
gap: 25px;
}
.social_media{ 
  flex-direction: row;
  display: flex;
justify-content: center;
align-items: center;
gap: 20px;
}
.Instagram{
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.Facebook{
  width: 24px;
  height: 24px;
 
}
.Twitter{
  width: 24px;
  height: 19.765px;

}
.col_7{
  display: flex;
  width: 238px;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
}

.h8{
  color: var(--light-text-color, #FFF);

  /* h3 */
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
  letter-spacing: 0.1px;
}

.text7{
  color: var(--light-text-color, #FFF);

/* link */
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 171.429% */
letter-spacing: 0.2px;
}
.text8{
  color: var(--light-text-color, #FFF);

  /* link */
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.2px;
}
.text9{
  color: var(--light-text-color, #FFF);

  /* link */
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.2px;
}
.text10{
  color: var(--light-text-color, #FFF);

  /* link */
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.2px;
}
.Layout1_4{
  display: flex;
  width: 1440px;
  justify-content: center;
  align-items: center;
  background: var(--dark-background-color, #252B42);
}
.container8{
  display: flex;
  width: 1050px;
  padding: 160px 0px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 96px;
  flex-shrink: 0;
}
.row9{
  display: flex;
width: 691px;
flex-direction: column;
align-items: center;
gap: 10px;
justify-content: center;
}
.Main_content7{
  display: flex;
width: 691px;
flex-direction: column;
align-items: center;
gap: 10px;
}
.h9{
  color: var(--light-text-color, #FFF);
text-align: center;

/* h2 */
font-family: Montserrat;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 50px; /* 125% */
letter-spacing: 0.2px;
}
.circle{
  display: flex;
width: 128px;
height: 128px;
justify-content: center;
align-items: center;
border-radius: 50%;
overflow: hidden;
}
.testimonials-card {
background: var(--light-background-color, #FFF);
display: flex;
width: 500px;
min-width: 500px;
padding: 25px 25px 0px 25px;
flex-direction: column;
align-items: center;
align-self: stretch;

}
.carousel1{
  display: flex;
align-items: flex-start;
gap: 15px;
width: 1115px;
overflow-x: scroll;
margin-bottom: -15px;
}
.row10 {
  overflow: hidden;
}
.Card_paragraph{
  width: 159px;
height: 120px;
color: var(--second-text-color, #737373);
text-align: center;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
letter-spacing: 0.2px;
}
.h11 {
  color: var(--text-color, #252B42);
  text-align: center;
  
  /* h5 */
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  letter-spacing: 0.1px;
}
.h12{
  color: var(--second-text-color, #737373);
text-align: center;

/* h6 */
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 171.429% */
letter-spacing: 0.2px;
}
.icon_bar_stars {
  display: flex;
align-items: flex-start;
gap: 5px;
} 
.card_content{
  display: flex;
padding: 30px;
flex-direction: column;
align-items: center;
gap: 15px;
align-self: stretch;
}